body {
	background-color: #f4f4f4;
	color: #555;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	line-height: 1.6em;
	margin: 0;
}

.container {
	width: 80%;
	margin: auto;
	overflow: hidden;
}

#main-header {
	background-color: coral;
	color: white;
}

#navbar {
	background: #333;
	color: #fff;
}

#navbar ul {
	padding: 0;
	list-style: none;
}

#navbar li {
	display: inline;
}

#navbar a {
	color: white;
	text-decoration: none;
	font-style: 18px;
	padding-right: 15px;
}

#showcase {
	background-image: url("../images/showcase.jpg");
	background-position: center right;
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 300px;
	margin-bottom: 30px;
	text-align: center;
}

#showcase h1 {
	color: white;
	font-size: 50px;
	line-height: 1.6em;
	margin-top: 0;
	padding-top: 30px;
}

#main {
	float: left;
	width: 70%;
	padding: 0 30px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

#sidebar {
	float: right;
	width: 30%;
	background: #333;
	color: white;
	padding: 10px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
}

#main-footer {
	background-color: #333;
	color: white;
	text-align: center;
	padding: 20px;
	margin-top: 40px;
}

@media (max-width: 600px) {
	#main {
		width: 100%;
		float: none;
	}
	#sidebar {
		width: 100%;
		float: none;
	}
}